@import "../colors";

.info__item {
  width: 490px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $gray;
  padding: 0 30px;

  &__field,
  &__value {
    color: $lightorange;
    font-size: 16px;
  }
}
