@import "../colors";

.input {
  width: 280px;
  height: 40px;
  border-radius: 20px;
  background-color: $gray;
  color: $lightorange;
  font-size: 16px;
  text-align: center;

  &::placeholder {
    color: $lightorange;
  }

  &:nth-child(n + 2) {
    margin-top: 20px;
  }
}
