.input {
  width: 280px;
  height: 40px;
  border-radius: 20px;
  background-color: #ededed;
  color: #f8a488;
  font-size: 16px;
  text-align: center;

  &::placeholder {
    color: #f8a488;
  }

  &:nth-child(n + 2) {
    margin-top: 20px;
  }
}
