<header class="header">
  <div class="header__container">
    <img
      alt="logo"
      src="../assets/img/logo.png"
      class="header__container__logo logo"
    />
    <a href="/" class="header__container__text">Conector messenger</a>

    <a class="dev_link" href="./index.hbs">Авторизация</a>
    <a class="dev_link" href="./signin.hbs">Регистрация</a>
    <a class="dev_link" href="./chats.hbs">Чат</a>
    <a class="dev_link" href="./profile.hbs">Аккаунт</a>
    <a class="dev_link" href="./settings.hbs">Изменить аккаунт</a>
    <a class="dev_link" href="./err404.hbs">Ошибка 404</a>
    <a class="dev_link" href="./err500.hbs">Ошибка 500</a>
  </div>

</header>