<div class="chats__menu__container__wrapper">
  <div class="chats__menu__container__wrapper__list">
    <div class="chat_wrapper">
      {{#if data.chats}}
          {{#each data.chats}}
            <label class="chat">
            {{{ChatCard image=image theme=theme message=message looked=looked count=count}}}
            </label>
            <hr style="border: 1px solid #86868b" />
          {{/each}}
      {{/if}}
    </div>
  </div>
  {{{Button  page="chats" type="button" title="Создать чат"}}}
</div>