@import "../colors";

.chats {
  display: flex;
  height: 100%;
  width: 100%;

  &__menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 380px;

    &__profile {
      width: 100%;
      background-color: $main;
      height: 60px;
      display: flex;
      padding: 0 30px;
      align-items: center;
      margin-top: auto;

      &__container__image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
      }

      &__link__text {
        text-decoration: none;
        color: $white;
        font-weight: bold;
        font-size: 20px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      flex-grow: 1;
      height: calc(100% - 60px);
      background-color: $white;
      width: 100%;
      padding: 30px;

      &__search {
        width: 100%;
        height: 40px;
        border-radius: 20px;
        background-color: $gray;
        color: $lightorange;
        font-size: 16px;
        text-align: center;
        background-image: url("../../static/search_icon.svg");
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: left 20px center;

        &::placeholder {
          color: $lightorange;
        }
      }

      &__wrapper {
        width: 100%;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;
        max-height: calc(100vh - 420px);

        &__list {
          width: 100%;
          display: flex;
          flex-direction: column;
          overflow-y: auto;
        }
      }
    }
  }

  &__messages {
    display: flex;
    flex-grow: 1;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
    width: auto;
    background-color: $white;
    position: relative;

    &__wrapper__form {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      background-color: $gray;
    }

    &__wrapper__window {
      flex-grow: 1;
      max-height: 100%;
      background-color: $gray;
      overflow-y: auto;
    }
  }
}

.chats_lable {
  margin-top: auto;
  position: relative;
}

.add_chat__button,
.add_user__button {
  margin-top: 20px;
}

.greating__text {
  font-size: 20px;
  margin: auto;
}

input.message__input {
  width: 100%;
  min-height: 60px;
  height: auto;
  text-align: start;
  background-color: $white;
  border-radius: 0;
  border: solid 1px $main;
  padding-left: 30px;
  color: $main;
}

div.message_lable {
  width: 100%;
  margin-top: 30px;
  position: relative;
}

div.message__tooltip {
  width: auto;
  top: -50px;
  left: 30px;
}

.messages__window {
  display: flex;
  max-height: 100%;
  flex-direction: column;
}

.chat__users {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $white;
  opacity: 0.8;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.chat__user {
  justify-content: start;
  color: $white;
  background-color: $main;
  width: auto;
  height: 50px;
  align-items: center;
  margin: 10px;
  display: flex;
  border-radius: 10px;
  padding: 5px;

  &__button {
    background-color: $lightorange;
    margin-left: 5px;
    border-radius: 50%;
    width: 18px;
    height: auto;
  }
}

.chat__content__theme__close {
  background-color: $lightorange;
  margin-left: 5px;
  border-radius: 50%;
  width: 18px;
  height: auto;
}

.message {
  border-radius: 10px;
  margin: 10px;
  max-width: 500px;
  padding: 5px;
  color: $main;
  background-color: $white;

  &__myself {
    background-color: $lightblue;
    align-self: flex-end;
  }

  &__text {
    font-size: 20px;
  }

  &__date {
    text-align: end;
  }
}
