.err {

  font-family: Grandstander, sans-serif;
  color: #000;
  font-size: 128px;
  font-weight: bold;
  margin: 60px auto 0;
}

.err__text {
  font-size: 20px;

  margin: 52px auto 0;
}

.err__link {
  margin: 52px auto 0;
}
