<div class="body">
    <h2 class="page__header">Ooooooooooopppps!!!</h2>
    <h1 class="err">500</h1>
    <h3 class="err__text">Что-то пошло не так... Мы работаем.</h3>
    {{{Link  page="err" index="messenger" title="Вернуться к чатам"}}}
</div>