.form {
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.login_lable,
.signin_lable,
.settings_lable,
.add_chat_lable {
  position: relative;

  &:nth-child(n + 2) {
    margin-top: 20px;
  }
}

.login__button,
.signin__button,
.settings__button {
  &:first-of-type {
    margin-top: 40px;
  }

  &:nth-of-type(n + 2) {
    margin-top: 10px;
  }
}

.login__link,
.signin__link {
  margin-top: 10px;
}
