{{!< main}}
<div class="chats">
  <div class="chats__menu">
    <div class="chats__menu__container">
      <input class="chats__menu__container__search" type="search" name="search" placeholder="Введите название чата"/>
      <div class="chats__menu__container__list">
        {{#each chats}}
          {{> 'chat/chat'}}
        {{/each}}
      </div>
      {{> "button/button" page="chats" type="button" title="Создать чат"}}
      </div>
    <div class="chats__menu__profile">
      <div class="chats__menu__profile__container">
        <img src="../assets/img/default_profile_logo.png" class="chats__menu__profile__container__image" />
      </div>
      <div class="chats__menu__profile__link">
        <a href="./profile.hbs" class="chats__menu__profile__link__text">Ваш профиль</a>
      </div>
    </div>
  </div>

  <div class="chats__messages">
    <h2 class="page__header">Welcome!</h2>
    <h3 class="greating__text">Выберите чат или создайте новый</h3>
  </div>
</div>