{{!< main}}

<h2 class="page__header">Ooooooooooopppps!!!</h2>
<h1 class="err">404</h1>
<h3 class="err__text">Страницы нет, но есть другие! :)</h3>
{{> "link/link" index="chats" page="err" title="Вернуться к чатам"}}