{{!< main}}

<h2 class="page__header">Create account</h2>

<form name="signin" class="form">
  {{> 'input/input' page="signin" type="text" name="email" value="Почта (email)"}}
  {{> 'input/input' page="signin" type="text" name="login" value="Логин"}}
  {{> 'input/input' page="signin" type="text" name="first_name" value="Имя"}}
  {{> 'input/input' page="signin" type="text" name="second_name" value="Фамилия"}}
  {{> 'input/input' page="signin" type="phone" name="phone" value="Телефон"}}
  {{> 'input/input' page="signin" type="password" name="password" value="Пароль"}}
  {{> 'input/input' page="signin" type="password" name="password" value="Повторите пароль"}}
  {{> "button/button" page="signin" type="submit" title="Зарегистрироватья"}}
  {{> "link/link" index="index" page="signin" title="Войти"}}
</form>