<header class="header">
  <div class="header__container">
    <img
      alt="logo"
      src="./logo.png"
      class="header__container__logo logo"
    />
    <a href="/" class="header__container__text">Conector messenger</a>
  </div>

</header>