<header class="header">
  <div class="header__container">
    <img
      alt="logo"
      src="./logo.png"
      class="header__container__logo logo"
    />
    <a href="/" class="header__container__text">Conector messenger</a>

    <a class="dev_link" href="/">Авторизация</a>
    <a class="dev_link" href="/signin">Регистрация</a>
    <a class="dev_link" href="/chats">Чат</a>
    <a class="dev_link" href="/profile">Аккаунт</a>
    <a class="dev_link" href="/settings">Изменить аккаунт</a>
    <a class="dev_link" href="/404">Ошибка 404</a>
    <a class="dev_link" href="/500">Ошибка 500</a>
  </div>

</header>